@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";


.image-container {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
  margin-bottom: 20px;
}

.list-group-item-tile.list-group-item {
  width: 31%;
  float: left;
  border: none;
  text-align: center;
  height: 125px;
  background: #ddd;
  margin: 1%;
}

.list-group-item {
  cursor: pointer;
}

.search-btn {
  margin-right: 5px;
}